.form-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
}

.form-button {
  height: 6vh;
  width: 6vh;
}

.MuiFormControl-marginNormal.location-dropdown {
  width: 320px;
}
